@import url("mainClass.css");

body {
    background-color: lightcyan;
}

.bg-black {
    background-color: #000;
}
.text-color-white {
    color: #EEE;
}
#nav-0 img {
    height: 3em;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
#midleSection {
    background-color: #333;
    border-radius: .8em .8em 0 0;
    height: 600px;
}
cite {
    border-left:3px solid #EEE;
    padding: .4em;
}
footer {
    padding: 1.5em 0;
    background-color: rgb(90, 90, 90);
}
footer div p, footer p {
    font-size: 14px;
}